@use "sass:color";

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: $dark-grey;
  color: $white-color;
  padding: 4.8rem 0;

  @media (max-width: $breakpoint-xs) {
    border: 0px;
  }

  @media (max-width: $breakpoint-xxs) {
    border: 0px;
    width: 40rem;
  }

  &__container {
    max-width: 112.5rem;
    width: 100%;
    /*1 rem = 16px --> 1200px; Bezug auf Standardschriftgröße von Browser*/
    margin: 0.5rem auto;
    /*mittig zentriert*/
    padding: 0 2rem;

    @media (max-width: $breakpoint-xs) {
        padding: 0 1rem;
    }

    @media (max-width: $breakpoint-xxs) {
      width: 20rem;
      padding: 0 1rem;
  }

    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content{
      text-align: center;
      text-decoration: none;
      color: darken($white-color, 50%);
      font-size: 2.2rem;

      @media (max-width: $breakpoint-md) {
        font-size: 2rem;
      }
    }

    a.footer__text-content:hover {
      color: $light-grey;
    }

  }

    

  &__horizontal {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.back-to-top i {
  color: $white-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}
