.about {
  background-color: $primary-color;
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  color: $white-color;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 2rem 0rem;

  @media (max-width: $breakpoint-l) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  &__container {
    @include make-container();
  }

  &__wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 6rem 0;
    max-width: 112.5em;

    & > div{          //für Abstand zwischen den beiden nachfolgenden Divs
    margin: 0 10rem;
    }

    @media (max-width: $breakpoint-xs) {
      padding-bottom: 5rem;
    }

    &-image {
      flex: 0 0 33%;
      position: relative;
      justify-content: center;
      padding-left: -5rem;

      @media(max-width: $breakpoint-l) {
        height: 100%;
      }

      @media (max-width: $breakpoint-sm) {
        padding-bottom: 6.4rem;
      }

      &-content {
        max-width: 35rem;
        height: auto;
        box-shadow: 0 1rem 3rem rgba(0,0,0 , 0.175);
        border-radius: 50%;
      }
    }

    &-info {
      flex: 0 0 66%;
      margin-left: 2.5rem;

      &-title {
        text-shadow: 0 0 0.5rem black;
      }

      &-text {
        text-align: left;
        font-size: 2.2rem;
        text-shadow: 0 0 0.5rem black;

        @media (max-width: $breakpoint-tablet) {
          text-align: left;
        }

        @media (max-width: $breakpoint-sm) {
          text-align: center;
        }
      }
    }
  }
}

