.about {
  background-color: $primary-color;
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  color: $white-color;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 2rem 0rem;

  @media (max-width: $breakpoint-l) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  @media (max-width: $breakpoint-xs) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
    padding: 0.5rem 0rem;
  }

  @media (max-width: $breakpoint-xxs) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
    padding: 0 0rem;
  }


  &__container {
    @include make-container();
  }

  &__wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 6rem 0;
    max-width: 112.5em;
    margin-bottom: 4rem;

    @media (max-width: $breakpoint-xs) {
      flex-direction: column;
      padding: 0 0 2rem 0;
      margin-bottom: 2rem;
    }

    & > div{          //für Abstand zwischen den beiden nachfolgenden Divs
    margin: 0 10rem;

    @media (max-width: $breakpoint-tablet) {
      margin: 0 3rem;
    }
    }

    @media (max-width: $breakpoint-xs) {
      padding-bottom: 5rem;
    }

    &-image {
      flex: 0 0 33%;
      position: relative;
      justify-content: center;
      padding-left: -5rem;

      @media(max-width: $breakpoint-l) {
        height: 100%;
      }

      @media (max-width: $breakpoint-sm) {
        padding-bottom: 6.4rem;
      }

      @media (max-width: $breakpoint-xs) {
        flex: 0 0 100%;
        padding-bottom: 0.5rem;
        margin-top: 4rem;
      }

      @media (max-width: $breakpoint-xxs) {
        flex: 0 0 100%;
        padding-bottom: 0.5rem;
        margin-top: 4rem;
      }



      &-content {
        max-width: 35rem;
        height: auto;
        box-shadow: 0 1rem 3rem rgba(0,0,0 , 0.175);
        border-radius: 50%;

        @media (max-width: $breakpoint-l) {
          width: 30rem;
        }
        
      }
    }

    &-info {
      flex: 0 0 66%;
      margin-left: 2.5rem;

      &-text {
        text-align: center;
        font-size: $mid-font-size;
        text-shadow: 0 0 0.5rem black;

        @media (max-width: $breakpoint-tablet) {
          text-align: left;
        }

        @media (max-width: $breakpoint-sm) {
          text-align: center;
        }

        @media (max-width: $breakpoint-xs) {
          flex: 0 0 100%;
          font-size: 2rem;
          margin-left: 0;
          width: 32rem;
          margin-bottom: 4rem;
        }

        @media (max-width: $breakpoint-xxs) {
          flex: 0 0 100%;
          font-size: 2rem;
          width: 30rem;
          margin-bottom: 4rem;
        }
      }
    }
  }
}

