.contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 10rem 0 8rem 0;
  color: $white-color;

  @media (max-width: $breakpoint-l) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  @media (max-width: $breakpoint-xxs) {
    padding: 5rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
    margin-left: -4rem;
  }

  &__container {
    @include make-container();
  }


  &__wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 112.5em;
    height: 100%;

    @media (max-width: $breakpoint-xs) {
      flex-direction: column;
    }

    &-text {
      flex: 0 0 50%;

      @media (max-width: $breakpoint-xs) {
        flex: 0 0 100%;
        margin-bottom: 2rem;
        margin-top: 0rem;
        width: 32rem;
      }

      @media (max-width: $breakpoint-xs) {
        width: 30rem;
      }
    }

    &-text-content {
      margin-bottom: 4rem;
      color: $white-color;
    }

    &-text-content,
    a {
      font-size: 2.4rem;

      @media (max-width: $breakpoint-xs) {
        font-size: 2rem;
      }
    }
      
    &-logo {
      flex: 0 0 55%;

      @media (max-width: $breakpoint-xs) {
        margin-top: 4rem;
        flex: 0 0 100%;
      }
    }
  }
}
