@use "sass:color";

.hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: url("../../assets/background.jpg");
  background-position: center;
  background-size: cover; 
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  &__container {
    z-index: 2;
  }

  &__title {
    font-size: 6.2rem;
    font-weight: 700;
    color: #d8d7d4;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    text-align: left;

    animation-name: hero__heading-main-font-weight;
    animation-delay: 0.75s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;


    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

    &__name {
      color: $secondary-color;
    }

    &__cta {
      display: flex;
  
      animation-name: hero__cta-opacity;
      animation-delay: 0.75s;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
  
      @include respond(tab-port) {
        justify-content: center;
      }
  
      & a {
        font-size: 3.5rem;
        z-index: 2;
  
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }

    &__logo {
      position: absolute;
      top: 3rem;
      left: 5rem;
      width: 25rem;
      color: white;
      background-color: rgba(0,0,0,0.05);
      border-radius: 1000rem;
      z-index: 2;
    
      animation-name: hero__logo-opacity;
        animation-delay: 0.75s;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    
      @media (max-width: 36em) {
        width: 20rem;
      }
    }

    &__video {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      
      width: 100%;
    
      @supports (object-fit: cover) and (object-position: center center) {
          height: 100%;
          object-fit: cover;
          object-position: center center;
      }
    }

    &__video-colorize {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    
      background-color: color.scale(black, $alpha: -60%);
    }
}

@keyframes hero__heading-main-font-weight {
  0% {
      opacity: 0;
      font-weight: 100;
  }
  100% {
      opacity: 1;
      font-weight: 700;
  }
}

@keyframes hero__cta-opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes hero__logo-opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}