.projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;

  @media (max-width: $breakpoint-l) {
    margin-top: 0;
    padding-top: 5rem;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__container {
    @include make-container();
  }

  &__wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 112.5em;

    @media (max-width: $breakpoint-xs) {
      margin-bottom: 0rem;
    }
  }


  &__row {
    left:0;
    right: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

    @media (max-width: $breakpoint-xs) {
      margin-bottom: 4rem;
    }

    &-text {
      position: relative;
      flex: 0 0 33%;
      float: left;
      margin-right: 4rem;
      text-align: left;

      @media (max-width: $breakpoint-l) {
        margin-bottom: 4.8rem;
      }

      @media (max-width: $breakpoint-xs) {
        flex: 0 0 100%;
        float: none;
        margin-bottom: 2.5rem !important;
      }
      
      & p > a {
        color: $secondary-color;
      }
    }

    &-title {
      font-weight: 700;
      margin-bottom: 1.8rem;
      font-size: $mid-font-size;

      @media (max-width: $breakpoint-xs) {
        font-size: 2rem;
      }
    }

    &-paragraph {
      font-size: $default-font-size;
      margin-bottom: 3.5rem;
    }

    &-column-image {
      flex: 0 0 66%;
      float: right;
      margin-left: 4rem;

      @media (max-width: $breakpoint-xs) {
        flex: 0 0 100%;
        float: none;
      }
    }

    &-image {
      width: 90%;
      margin: 0 auto;

      @media (max-width: $breakpoint-l) {
        width: 100%;
        margin: 0;
      }

      &-content {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
        
        &:hover {
          transform: scale(1.05);
          transition: transform 0.5s ease-in-out;
        }

          @media (max-width: $breakpoint-xs) {
          border: 1px solid $light-grey;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
