// COLORS
$primary-color: #26464d!default;
$secondary-color: rgb(0, 226, 156)!default;

$white-color: #ffffff;

$dark-grey: #333333;
$light-grey: #dfdfdf;

$dark-blue-text: #011820!default; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

/*1200px oder schmaler*/
$breakpoint-l: 75em!default;

/*992px oder schmaler*/
$breakpoint-md: 62em!default;

/*768px oder schmaler*/
$breakpoint-sm: 48em!default;

/*576px oder schmaler*/
$breakpoint-xs: 36em!default;

/*400px oder schmaler*/
$breakpoint-xxs: 25em!default;
