// COLORS
$primary-color: #26464d!default;
$secondary-color: rgb(0, 226, 156)!default;

$white-color: #ffffff;

$dark-grey: #333333;
$light-grey: #dfdfdf;

$dark-blue-text: #011820!default; // For Headings

// FONT SIZE
$default-font-size: 2.5rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;

//1800px oder schmaler
$breakpoint-xxl: 112.5em!default;

//1200px oder schmaler
$breakpoint-l: 75em!default;

//992px oder schmaler
$breakpoint-md: 62em!default;

//900px oder schmaler
$breakpoint-tablet: 56.25em!default;

//768px oder schmaler
$breakpoint-sm: 48em!default;

//600px oder schmaler
$breakpoint-xs: 37.5em!default;

//320px oder schmaler
$breakpoint-xxs: 20em!default;
